<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CommandDelays" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Port1" value="5001"/>
    <add key="Port2" value="5002"/>
    <add key="Port3" value="5003"/>
    <add key="Port4" value="5004"/>
    <add key="tcpWorkerLoopIdleTime" value="100"/>
    <add key="numberOfSlotsInCasette" value="25"/>
  </appSettings>
  <CommandDelays>
    <add key="ORGSH" value="0"/>
    <add key="ABORG" value="0"/>
    <add key="CLOAD" value="0"/>
    <add key="CLDDK" value="0"/>
    <add key="CLDYD" value="0"/>
    <add key="CLDOP" value="0"/>
    <add key="CLDMP" value="0"/>
    <add key="CLMPO" value="0"/>
    <add key="CULOD" value="0"/>
    <add key="CULDK" value="0"/>
    <add key="CUDCL" value="0"/>
    <add key="CUDNC" value="0"/>
    <add key="CULYD" value="0"/>
    <add key="CULFC" value="0"/>
    <add key="CUDMP" value="0"/>
    <add key="CUMDK" value="0"/>
    <add key="CUMFC" value="0"/>
    <add key="MAPDO" value="0"/>
    <add key="REMAP" value="0"/>
    <add key="PODOP" value="0"/>
    <add key="PODCL" value="0"/>
    <add key="VACON" value="0"/>
    <add key="VACOF" value="0"/>
    <add key="DOROP" value="0"/>
    <add key="DORCL" value="0"/>
    <add key="MAPOP" value="0"/>
    <add key="MAPCL" value="0"/>
    <add key="ZDRUP" value="0"/>
    <add key="ZDRDW" value="0"/>
    <add key="ZDRMP" value="0"/>
    <add key="ZMPST" value="0"/>
    <add key="ZMPED" value="0"/>
    <add key="MSTON" value="0"/>
    <add key="MSTOF" value="0"/>
    <add key="YWAIT" value="0"/>
    <add key="YDOOR" value="0"/>
    <add key="DORBK" value="0"/>
    <add key="DORFW" value="0"/>
    <add key="RETRY" value="0"/>
    <add key="STOP_" value="0"/>
    <add key="PAUSE" value="0"/>
    <add key="ABORT" value="0"/>
    <add key="RESUM" value="0"/>
  </CommandDelays>
  
</configuration>